<!doctype html>
<html ng-app="DnaPrototype.js" ng-controller="DnaPrototype">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>dna encoding prototypes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../third_party/bootstrap/docs/assets/css/bootstrap.css"
        rel="stylesheet">
  <style>
.tab-pane {
  box-sizing: border-box;
  position: absolute;
  top: 42px;
  bottom: 0;
  width: 100%;
  border-top: 0;
  padding: .5em;
}
  </style>
</head>
<body>

<ul class="nav nav-tabs">
  <li ng-repeat="tab in tabs"
      ng-class="{active: mode == tab}">
    <a href="#/{{tab}}"><label for="/{{tab}}">{{tab}}</label></a>
  </li>
</ul>

<div class="tab-content">
<textarea id="/yaml"
          class="tab-pane"
          ng-model="data.yaml"
          ng-class="{active: mode == 'yaml'}"></textarea>

<textarea id="/value"
          class="tab-pane"
          ng-model="data.value"
          ng-class="{active: mode == 'value'}"></textarea>

<textarea id="/encoding"
          class="tab-pane"
          ng-model="data.encoding"
          disabled="disabled"
          ng-class="{active: mode == 'encoding'}"></textarea>
</div>

<script src="../../third_party/jquery/dist/jquery.js"></script>
<script src="../../third_party/angular.js/build/angular.js"></script>
<script src="../../third_party/angular.js/build/angular-resource.js"></script>
<script src="../../src/sim/DevBootstrap.js"></script>
</body>
</html>
