<!doctype html>
<html ng-app="simulation">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Gameplay simulation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../third_party/bootstrap/docs/assets/css/bootstrap.css"
        rel="stylesheet">
<style>
body {
  margin: 5px;
}
.btn-group {
  margin-bottom: 18px;
}
.location-direction {
  position: absolute;
}
</style>
</head>
<body ng-controller="SimController">

<h1>{{player.name}} {{time}}</h1>

<div ng-controller="MeterController">
  <div ng-repeat="meter in meters"
      class="progress progress-{{player.statCss(meter)}}">
    <div class="bar" style="width: {{player.stats[meter]}}%">{{meter}}</div>
  </div>
</div>

<ul class="nav nav-tabs">
  <li ng-repeat="tab in ['explore', 'rest']"
      ng-class="{active: modeIs(tab)}">
    <a href="#/{{tab}}">{{tab}}</a>
  </li>
</ul>
<div class="tab-content" ng-view>
</div>

<script src="../../third_party/jquery/dist/jquery.js"></script>
<script src="../../third_party/jQuery-Animate-Enhanced/jquery.animate-enhanced.min.js"></script>
<script src="../../third_party/EaselJS/lib/easeljs-NEXT.min.js"></script>
<script src="../../third_party/alea/Mash.js"></script>
<script src="../../third_party/alea/Alea.js"></script>
<script src="../../third_party/angular.js/build/angular.js"></script>
<script src="../../third_party/angular.js/build/angular-resource.js"></script>
<script src="fx.js"></script>
<script src="sim.js"></script>
<script src="db/item.js"></script>
<script src="db/location.js"></script>
<script src="db/player.js"></script>
<script src="game.js"></script>
</body>
</html>
