[submodule "third_party/jasmine"]
	path = third_party/jasmine
	url = https://github.com/pivotal/jasmine.git
[submodule "third_party/underscore"]
	path = third_party/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "third_party/jquery"]
	path = third_party/jquery
	url = https://github.com/jquery/jquery.git
[submodule "third_party/node"]
	path = third_party/node
	url = https://github.com/joyent/node.git
[submodule "third_party/raphael"]
	path = third_party/raphael
	url = https://github.com/DmitryBaranovskiy/raphael.git
[submodule "third_party/node-uuid"]
	path = third_party/node-uuid
	url = https://github.com/broofa/node-uuid.git
[submodule "third_party/jasmine-node"]
	path = third_party/jasmine-node
	url = https://github.com/mhevery/jasmine-node.git
[submodule "third_party/jasmine-reporters"]
	path = third_party/jasmine-reporters
	url = https://github.com/larrymyers/jasmine-reporters.git
[submodule "third_party/should"]
	path = third_party/should
	url = https://github.com/visionmedia/should.js.git
[submodule "third_party/node-mime"]
	path = third_party/node-mime
	url = https://github.com/bentomas/node-mime.git
[submodule "third_party/jake"]
	path = third_party/jake
	url = https://github.com/280north/jake.git
[submodule "third_party/bootstrap"]
	path = third_party/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "third_party/jQuery-Animate-Enhanced"]
	path = third_party/jQuery-Animate-Enhanced
	url = https://github.com/benbarnett/jQuery-Animate-Enhanced.git
[submodule "third_party/alea"]
	path = third_party/alea
	url = https://github.com/PhilHarnish/alea.git
[submodule "third_party/EaselJS"]
	path = third_party/EaselJS
	url = https://github.com/CreateJS/EaselJS.git
[submodule "third_party/angular.js"]
	path = third_party/angular.js
	url = https://github.com/angular/angular.js.git
