<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Task</title>
</head>
<body>

$TASK_BODY

<form id='results' method='post' action='http://localhost:8001/task/$TASK_ID'>
</form>
<script type='text/javascript'>
  var filename = 'jasmine-2.0.0.rc1.js';
  function removeJasmineFrames(text) {
    if (!text) {
      return text;
    }
    var lines = [];
    text.split(/\n/).forEach(function(line){
      if (line.indexOf(filename) == -1) {
        lines.push(line);
      }
    });
    return lines.join('\n');
  }
  var jasmineEnv = jasmine.getEnv();
  // Prevent async behavior.
  jasmineEnv.updateInterval = 0;
  var reporter = new jasmine.JsApiReporter();
  jasmineEnv.addReporter(reporter);
  jasmineEnv.execute();

  parent.complete();

  var form = document.getElementById('results');
  var raw = reporter.results();
  var results = [];
  for (var i in raw) {
    var result = {
      result: raw[i].result
    };
    var messages = [];
    for (var message in raw[i].messages) {
      messages.push(removeJasmineFrames(raw[i].messages[0].trace.stack));
    }
    if (messages.length) {
      result.messages = messages;
    }
    results.push(result);
  }
  var params = {
    status: 'COMPLETE',
    results: JSON.stringify(results)
  };
  console.log('Sending', params);
  for (var key in params) {
    var input = document.createElement('input');
    input.setAttribute('type', 'hidden');
    input.setAttribute('name', key);
    input.setAttribute('value', params[key]);
    form.appendChild(input);
  }
  form.submit();
</script>
</body>
</html>
