<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>asdf</title>
</head>
<body>
<script type="text/javascript">
  console.log(parent);
  parent.complete();
  post("http://localhost:8001/task/TASK_ID");
  function post(url) {
    var form = document.createElement("form");
    form.setAttribute("method", "POST");
    form.setAttribute("action", url);
    var params = {
      status: "finished"
    };
    for (var key in params) {
      var input = document.createElement("input");
      input.setAttribute("type", "hidden");
      input.setAttribute("name", key);
      input.setAttribute("value", params[key]);
      form.appendChild(input);
    }
    document.body.appendChild(form);
    form.submit();
  }
</script>
</body>
</html>
